extends layout

block content
  head
    h2= title
    
    script(src='https://kit.fontawesome.com/abd674511e.js')
    script( src='https://cdn.jsdelivr.net/npm/chart.js@4.3.0')

    //Graphs
    script(type='module' src='/public/javascripts/graphs-pn-out.js')
    script(type='module' src='/public/javascripts/graphs-pn-in.js')
    
    
    
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    
    
  
  body
    
    div(class='params')
      

      p Aktualna godzina #{time}
      p Dziś jest #{day} dzień tygodnia, #{week} tydzień roku,  #{year} dzień roku
    div(class='container')
      
      div(class='city')
        div(class='alerts')
          p(id='place') Poznań
          div(class='location')

            div(class='outside')
              p(id='place') Na zewnątrz
              div(class='params-wth')
                p 25 *C
              div(class='params-wth')
                p 55% hPa
              div(class='params-wth')
                p 1000 hPa

            div(class='inside')  
              p(id='place') W domu
              div(class='params-wth')
                p 25 *C
              div(class='params-wth')
                p 55% hPa
              div(class='params-wth')
                p 1000 hPa
 
      div(class='city')
        
        div(class='outside')
          
          
          
        
          
      
        
        
        

         

  
        











