extends layout

block content
  head
    h2= title
    
    script(src='https://kit.fontawesome.com/abd674511e.js')
    script( src='https://cdn.jsdelivr.net/npm/chart.js@4.3.0')

    //Graphs
    script(type='module' src='/public/javascripts/graphs-pn-out.js')
    script(type='module' src='/public/javascripts/graphs-pn-in.js')
    
    
    
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    
    
  
  body
    
    div(class='params')
      

      p Aktualna godzina #{time}
      p Dziś jest #{day} dzień tygodnia, #{week} tydzień roku,  #{year} dzień roku
    div(class='container')
     
      div(class='city')
        h2 Poznań
        div(class='outside')
          canvas(id='temp-pn-out')
          canvas(id='hum-pn-out')
          canvas(id='press-pn-out')
          
          
        div(class='inside')
          canvas(id='temp-pn-in')
          canvas(id='hum-pn-in')
          
        div(class='city')
          h2 Międzyrzecz
          div(class='outside')
          
          
          
        
          
      
        
        
        

         

  
        











