extends layout

block content
  head
    h2= title
    script(src='https://kit.fontawesome.com/abd674511e.js')
    script(src='https://cdn.jsdelivr.net/npm/chart.js')
  
    script(type='module' src='/public/javascripts/graphs-pn.js')
    
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    
    
  //canvas(id='temp')
  body
    
    div(class='params')
      

      p Aktualna godzina #{time}
      p Dziś jest #{day} dzień tygodnia, #{week} tydzień roku,  #{year} dzień roku
    div(class='container')
     
      div(class='city')
        h2 Poznań
        div(class='outside')
          canvas(id='temp-out-pn')
          canvas(id='hum-out-pn')
          canvas(id='press-out-pn')
          
          
          
        div(class='inside')
          
          canvas(id='temp-in-pn')
          canvas(id='hum-in-pn')
          
          
        
          
      div(class='city')
        h2 Międzyrzecz
        div(class='inside')

        div(class='outside')

          p(class='item-h') wilgotność
          p(class='item-i') ciśnienie

  
        











