extends layout

block content
  head
    h2= title
    script(src='https://kit.fontawesome.com/abd674511e.js')
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    
    
  
  body
    div(class='params')
      

      p Aktualna godzina #{time}
      p Dziś jest #{day} dzień tygodnia, #{week} tydzień roku,  #{year} dzień roku
    div(class='container')
     
      div(class='city')
        h2 Poznań
        div(class='inside')

          p(class='item-c') 25*C
          p(class='item-d') 40%  
          p(class='item-e') 1000 hPa 

        div(class='outside')

          p(class='item-g') temperatura
          p(class='item-h') wilgotność
          p(class='item-i') ciśnienie
      div(class='city')
        h2 Międzyrzecz
        div(class='inside')

          p(class='item-c') 25*C
          p(class='item-d') 40%  
          p(class='item-e') 1000 hPa 

        div(class='outside')

          p(class='item-g') temperatura
          p(class='item-h') wilgotność
          p(class='item-i') ciśnienie

      
        











